@{
    Layout = null;
}

<div class="row">
    <div class="col-sm-12">
        <div class="pull-left">
            <div class="">Пароль в системе WebUni</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <button id="change-password" class="btn main-btn m-t-20">Изменить пароль</button>

    </div>

</div>



<script>
    $(document).ready(function () {
        $('#change-password').click(function () {
            var cont = $('#account-password-container');
            var url = cont.data('url');

            $.get(url, function(data) {
                cont.html(data);
            });

        });
    });
</script>