@using livemenu.Common.Entities
@using livemenu.Helpers

@{
    ViewBag.Title = "Index";
    Layout = Request.GetLayout(MVC.Shared.Views._NavigationLayout, "#main-region");
}

@model livemenu.Kernel.Account.AccountPasswordModel



<div class="panel panel-transparent">
    <div class="panel-body no-padding">
        <div class="panel panel-default" style="overflow: auto; ">
          
            <div class="panel-body">
                <div id="account-password-container" data-url="@Url.Action(MVC.Account.ChangePassword())">
                   @{Html.RenderPartial(MVC.Account.Views.PasswordInternal);}
                </div>
                
            </div>
        </div>
    </div>
</div>

