@{
    Layout = MVC.Shared.Views._MenuLayout;
}
<div class="sidebar-menu" id="main-menu">
    <ul class="menu-items">
        <li class="m-t-30 ">
            <a href="@Url.Action(MVC.Team.Home.Index())"  class="">
                <span class="title">Панель</span>
            </a>
            <span class="icon-thumbnail "><i class="fa fa-th-list"></i></span>
        </li>
        
		      
        <li class="">
            <a href="@Url.Action(MVC.Position.Index())"  class="detailed">
                <span class="title">Должности</span>
                <span class="details">Справочник</span>
            </a>
            <span class="icon-thumbnail "><i class="fa fa-sitemap"></i></span>
        </li>
        
        <li class="">
            <a href="@Url.Action(MVC.Users.Index())"  class="detailed">
                <span class="title">Персонал</span>
                <span class="details">Управление кадрами</span>
            </a>
            <span class="icon-thumbnail "><i class="fa fa-users"></i></span>
        </li>

      
    </ul>
    <div class="clearfix"></div>
</div>
