@{
    Layout = null;
}
@model livemenu.Common.Kernel.Settings.CatalogSettings

<div id="catalogsettings-edit">
    @{ Html.RenderPartial(MVC.Settings.Home.Views.CatalogSettingsInternalEdit, Model); }
</div>