@{
    Layout = null;
    var title = Model.IsNew ? "Создание заказа" : "Редактирование заказа";
}

@model livemenu.Common.Entities.Entities.Order 

<div class="row" style="margin-top: 0px">
    <div class="col-sm-12 col-md-12">
        <div style="border-bottom: 1px solid #ddd; padding-bottom: 10px;">
            <div class="btn-group">
                <button type="button" class="btn btn-default widget-back-btn " onclick="ordersCardGoBack()">

                    <i class="fa fa-reply"></i>
                </button>

                <a class="btn btn-success widget-save-btn" id="workspace-save-btn" onclick="$('#OrderCard').find('form').submit()">
                    <i class="fa fa-check"></i>
                </a>
            </div>
        </div>


    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12">
        @{
            ViewContext.Writer.Write("<div id='OrderCard'>");
            Html.RenderPartial(MVC.CRM.Order.Views.Card, Model);
            ViewContext.Writer.Write("</div>");
        }
    </div>
</div>







