@{
    Layout = null;
}
@model livemenu.Common.Entities.Entities.UniBalance

<div class="row">
    <div class="col-sm-12 col-md-12">
        <div id='WebUniBalanceDesign-@Model.ID'>
            @{ Html.RenderPartial(MVC.CMS.WebUni.Views.BalanceDesignInternal, Model); }
        </div>
    </div>
</div>
<script>
    initUniLineCard($('#WebUniBalanceDesign-@Model.ID'), '@Model.ID');
</script>
