@{
    Layout = null;
}

@using livemenu.Kernel.CMS
@model long

<div id="catalog-tab-data-structure-container"  class="form-horizontal" data-url="@Url.Action(MVC.CMS.Catalog.Structure(Model, CatalogItemViewType.Data))" ></div>
