@{
    Layout = null;
}
@model livemenu.Common.Entities.Entities.UniCheckout


<style>
   
     
</style>

<div class="row">
    <div class="col-sm-12 col-md-12">

        <div style='padding-left: 30px; padding-right:30px;' id='WebUniCheckoutData-@Model.ID'>
            @{ Html.RenderPartial(MVC.CMS.WebUni.Views.CheckoutDataInternal, Model); }
        </div>

    </div>
</div>


<script>
    //initUniTextCard($('#WebUniCartListData-@Model.ID'), '@Model.ID');
</script>