@{
    Layout = null;
}
@model livemenu.Common.Entities.Entities.UniFooter


<style>
   
     
</style>

<div class="row">
    <div class="col-sm-12 col-md-12">

        <div style='padding-left: 30px; padding-right:30px;' id='WebUniFooterData-@Model.ID'>
            @{ Html.RenderPartial(MVC.CMS.WebUni.Views.FooterDataInternal, Model); }
        </div>

    </div>
</div>


<script>

    //initUniTextCard($('#WebUniProfileData-@Model.ID'), '@Model.ID');




</script>