@{
    Layout = null;
}
@using livemenu.Helpers
@model livemenu.Common.Entities.Entities.UniHeader

@using (Ajax.BeginForm(MVC.CMS.WebUni.HeaderDesignSave(), new AjaxOptions
{
    HttpMethod = "POST",
   
},

new
{
    @class = "form-horizontal ",
}))

{

    <div class="" id="">
        @Html.HiddenFor(m => m.ID)
        @Html.HiddenFor(m => m.CatalogItemID)



    </div>

}
