@{
    Layout = null;
}
@model livemenu.Common.Entities.Entities.UniHeader


<style>
   
     
</style>

<div class="row">
    <div class="col-sm-12 col-md-12">

        <div style='padding-left: 30px; padding-right:30px;' id='WebUniProfileDesign-@Model.ID'>
            @{ Html.RenderPartial(MVC.CMS.WebUni.Views.HeaderDesignInternal, Model); }
        </div>

    </div>
</div>

<script>

    initUniLineCard($('#WebUniHeaderDesign-@Model.ID'), '@Model.ID');




</script>