@{
    Layout = null;
}
@model livemenu.Common.Entities.Entities.UniLeftSideBar


<style>
   
     
</style>

<div class="row">
    <div class="col-sm-12 col-md-12">

        <div style='padding-left: 30px; padding-right:30px;' id='WebUniLeftSideBarDesign-@Model.ID'>
            @{ Html.RenderPartial(MVC.CMS.WebUni.Views.LeftSideBarDesignInternal, Model); }
        </div>

    </div>
</div>

<script>
    initUniLineCard($('#WebUniLeftSideBarDesign-@Model.ID'), true);
</script>