@{
    Layout = null;
}
@model livemenu.Common.Entities.Entities.UniPhoto

<div class="row">
    <div class="col-sm-12 col-md-12">

        <div id='WebUniPhotoDesign-@Model.ID'>
            @{ Html.RenderPartial(MVC.CMS.WebUni.Views.PhotoDesignInternal, Model); }
        </div>

    </div>
</div>

<script>
    initUniLineCard($('#WebUniPhotoDesign-@Model.ID'));
</script>