@{
    Layout = null;
}
@model livemenu.Common.Entities.Entities.UniReserve

<div class="row">
    <div class="col-sm-12 col-md-12">
        <div style='padding-left: 30px; padding-right:30px;' id='WebUniReserveData-@Model.ID'>
            @{ Html.RenderPartial(MVC.CMS.WebUni.Views.ReserveDataInternal, Model); }
        </div>
    </div>
</div>
