@{
    Layout = null;
}
@model livemenu.Common.Entities.Entities.UniSearchFilter


<style>
   
     
</style>

<div class="row">
    <div class="col-sm-12 col-md-12">

        <div style='padding-left: 30px; padding-right:30px;' id='WebUniSearchFilterDesign-@Model.ID'>
            @{ Html.RenderPartial(MVC.CMS.WebUni.Views.SearchFilterDesignInternal, Model); }
        </div>

    </div>
</div>


<script>

    initUniLineCard($('#WebUniSearchFilterDesign-@Model.ID'));



  

</script>