@{
    Layout = null;
}

@model long

<div class="catalog-tab-content" id="catalog-tab-data">  @{ Html.RenderPartial(MVC.CMS.WebUni.Views.CatalogTabDataCommon, Model);}
    @{ Html.RenderAction(MVC.CMS.WebUni.SearchFilterGroupData(Model)); }
</div>
<div class="catalog-tab-content" id="catalog-tab-design">
    @{ Html.RenderAction(MVC.CMS.WebUni.SearchFilterGroupDesign(Model)); }
</div>


