@{
    Layout = null;
}
@model livemenu.Common.Entities.Entities.UniSection


<style>
   
     
</style>

<div class="row">
    <div class="col-sm-12 col-md-12">

      

    </div>
</div>


<script>

    




</script>