@{
    Layout = null;
}
@model livemenu.Common.Entities.Entities.UniStorage

<div class="row">
    <div class="col-sm-12 col-md-12">
        <div style="padding-left: 30px; padding-right: 30px;" id="WebUniStorageData-@Model.ID">
            @{ Html.RenderPartial(MVC.CMS.WebUni.Views.StorageDataInternal, Model); }
        </div>
    </div>
</div>