@{
    Layout = null;
}

@model livemenu.Common.Entities.Entities.UniWebinar

@using (Ajax.BeginForm(MVC.CMS.WebUni.WebinarDesignSave(), new AjaxOptions
{
    HttpMethod = "POST"
},
    new
    {
        @class = "form-horizontal "
    }))

{
    <div class="" id="">
        
        @Html.HiddenFor(m => m.ID)

        @Html.HiddenFor(m => m.CatalogItemID)

    </div>
}