@{
    Layout = MVC.Shared.Views._ResponsiveLayout;
}

<div class="row" style="margin-top: 0px">
    <div class="col-sm-12 col-md-12">
        <div class="pull-left">

            <div class="btn-group">
                <a class="btn btn-default" onclick="EmailNotificationGridView.PerformCallback() "><i class="fa fa-refresh"></i> Обновить</a>



                <div class="btn-group  pull-left" style="margin-right: 20px">
                    <button type="button" class="btn btn-default" onclick="EmailNotificationGridView.CancelEdit()">
                        <i class="fa fa-times"></i>
                    </button>

                    <a class="btn btn-success" id="" onclick="EmailNotificationGridView.UpdateEdit()" style="display: block;">
                        <i class="fa fa-check"></i>
                    </a>

                </div>

            </div>
        </div>

    </div>
</div>
<div class="row" style="margin-top: 20px">
    <div class="col-sm-12 col-md-12">
        @{ Html.RenderAction(MVC.Communications.Notification.GridViewPartial()); }
    </div>
</div>