@{
    Layout = null;
}
@model livemenu.Common.Kernel.Settings.SitemapSettings

<div id="sitemapsettings-edit">
    @{ Html.RenderPartial(MVC.CMS.SEO.Views.SitemapSettingsInternalEdit, Model); }
</div>