@{
   
  
    Layout = null; //Request.GetLayout(MVC.Shared.Views._NavigationLayout, "#main-region");
}
@model livemenu.Common.Entities.Entities.User

<div class="row">
    <div class="col-md-12">
        <div id="user-edit">
            @{ Html.RenderPartial(MVC.Users.Views.InternalEdit, Model); }
        </div>
    </div>

</div>
