@{
    Layout = MVC.Shared.Views._ResponsiveLayout;
}

<style>
    .dxgvGroupPanel_Moderno {
        border: none;
    }
</style>
<div id="font-list">
    @{Html.RenderAction(MVC.UserFonts.FontsGridViewPartial());}

</div>
<div id="font-content">

</div>
