@using System.Web.UI.WebControls
@using WebUni.Bus.Common
@using DevExpress.Web
@using DevExpress.Web.Mvc.UI
@using livemenu.Kernel.Catalog
@using livemenu.Areas.Cloud.Controllers;
@using livemenu.Kernel.Cloud
@using Microsoft.Practices.ServiceLocation
@using Unit = System.Web.UI.WebControls.Unit

@{
    Layout = null;

    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();

    var settings = (ViewContext.Controller as ProjectsController).GetGridViewSettings();


    settings.Columns.Add(column =>
    {
        column.Width = Unit.Pixel(1);
        column.SetDataItemTemplateContent((c) =>
        {
            var col = DataBinder.Eval(c.DataItem, "ProjectID");
            if (col != null)
            {
                var state = (WebSiteState)DataBinder.Eval(c.DataItem, "State");
                var disabled = state == WebSiteState.Started ? string.Empty : "disabled";
                var id = Guid.Parse(col.ToString());
                ViewContext.Writer.Write(string.Format(@"<button class='btn right-menu-btn right-menu-btn-simple' {0} onclick=""stopSite('{1}')"" >Стоп</button>", disabled, Url.Action(MVC.Cloud.Projects.Stop(id))));
            };
        });
    });

    settings.Columns.Add(column =>
    {
        column.Width = Unit.Pixel(1);
        column.SetDataItemTemplateContent((c) =>
        {
            var col = DataBinder.Eval(c.DataItem, "ProjectID");
            if (col != null)
            {
                var state = (WebSiteState)DataBinder.Eval(c.DataItem, "State");
                var disabled = state == WebSiteState.Stopped ? string.Empty: "disabled";
                var id = Guid.Parse(col.ToString());
                ViewContext.Writer.Write(string.Format(@"<button class='btn right-menu-btn right-menu-btn-simple' {0} onclick=""stopSite('{1}')"" >Старт</button>", disabled, Url.Action(MVC.Cloud.Projects.Start(id))));
            };
        });
    });


    //settings.Columns.Add(column =>
    //{
    //    column.Width = Unit.Pixel(1);
    //    column.SetDataItemTemplateContent((c) =>
    //    {
    //        var col = DataBinder.Eval(c.DataItem, "ProjectID");
    //        if (col != null)
    //        {
    //            var id = Guid.Parse(col.ToString());
    //            ViewContext.Writer.Write(string.Format(@"<button class='btn right-menu-btn right-menu-btn-simple' onclick=""deleteSite('{0}')"" >Удалить</button>", Url.Action(MVC.Cloud.Projects.Delete(id))));
    //        };
    //    });
    //});



    settings.Settings.ShowFooter = true;

    settings.Name = "SitesGridView";
    settings.Width = new Unit(100, UnitType.Percentage);
    settings.Settings.ShowFilterRow = true;
    settings.KeyFieldName = "ID";


    string name = settings.Name;


    settings.SettingsEditing.Mode = GridViewEditingMode.Batch;
    settings.SettingsEditing.BatchEditSettings.EditMode = GridViewBatchEditMode.Cell;
    settings.SettingsEditing.BatchEditSettings.StartEditAction = GridViewBatchStartEditAction.Click;

    settings.CallbackRouteValues = new { Area = MVC.Cloud.Name, Controller = MVC.Cloud.Projects.Name, Action = MVC.Cloud.Projects.ActionNames.GridViewPartial };


    settings.SettingsEditing.BatchUpdateRouteValues = new { Area = MVC.Cloud.Name, Controller = MVC.Cloud.Projects.Name, Action = MVC.Cloud.Projects.ActionNames.GridViewBatchUpdatePartial };

    settings.SettingsBehavior.AllowDragDrop = true;

    settings.SettingsPager.Mode = GridViewPagerMode.ShowPager;
    settings.SettingsPager.Visible = true;
    settings.SettingsPager.PageSize = 10;
    settings.SettingsPager.Position = PagerPosition.Bottom;
    settings.SettingsPager.FirstPageButton.Visible = true;
    settings.SettingsPager.LastPageButton.Visible = true;
    settings.SettingsPager.PageSizeItemSettings.Visible = true;
    settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "50", "100", "500", "1000" };

    settings.Settings.ShowFilterBar = GridViewStatusBarMode.Auto;


    settings.Settings.ShowHeaderFilterButton = false;
    settings.Settings.ShowGroupPanel = true;
    settings.Settings.ShowFooter = true;

    //settings.ClientSideEvents.BeginCallback = "function(s, e) { OnStartCallback(s, e); }";
    //settings.ClientSideEvents.EndCallback = "function(s, e) { OnEndCallback(s, e); }";

    settings.SettingsBehavior.AllowFocusedRow = false;
    settings.SettingsBehavior.ProcessFocusedRowChangedOnServer = false;
    settings.SettingsBehavior.AllowGroup = true;
    settings.SettingsBehavior.AllowSelectByRowClick = false;
    settings.SettingsBehavior.AllowSelectSingleRowOnly = true;
    settings.SettingsBehavior.AllowSort = true;
    settings.SettingsBehavior.EnableCustomizationWindow = false;
    settings.SettingsContextMenu.Enabled = false;


    @Html.DevExpress().GridView(settings).Bind(ServiceLocator.Current.GetInstance<ISitesService>().GetWebUniSites()).GetHtml()

}