@{
    Layout = null;
}
@model livemenu.Common.Kernel.Settings.RobokassaSettings

<div id="robokassasettings-edit">
    @{ Html.RenderPartial(MVC.CRM.Payment.Views.RobokassaSettingsInternalEdit, Model); }
</div>